@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-poppins: "Poppins", sans-serif;
}

.swiper {
    --swiper-navigation-color: white;
}

@layer components {
    .navlink {
        @apply hidden md:inline-flex px-3 py-2 gap-1 font-medium text-white items-center hover:bg-teal-700 rounded-lg;
    }
    .button {
        @apply px-2 py-2 gap-1 font-medium text-white items-center hover:bg-teal-700 rounded-full cursor-pointer;
    }
    .social {
        @apply flex h-9 w-9 items-center justify-center rounded-full bg-white/10 text-center leading-9 text-white;
    }
}
